@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="@Url.Action("Index", "Fatura")" class="btn btn-primary btn-lg" style="margin-right: 20px;">Fatura İşlemleri</a>
    <a href="@Url.Action("Index", "Musteri")" class="btn btn-success btn-lg">Müşteri İşlemleri</a>
</div>
