@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://aka.ms/aspnetcore-docs">building Web apps with ASP.NET Core</a>.</p>

    <!-- Yeni Butonlar -->
    <a href="@Url.Action("Index", "Fatura")" class="btn btn-primary btn-lg" style="margin-right: 20px;">Fatura İşlemleri</a>
    <a href="@Url.Action("Index", "Musteri")" class="btn btn-success btn-lg">Müşteri İşlemleri</a>
</div>
