@model MusteriApp.Data.Entities.Musteri

<h2>Yeni Müşteri Ekle</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="UNVAN" class="control-label"></label>
        <input asp-for="UNVAN" class="form-control" />
        <span asp-validation-for="UNVAN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Ekle" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
