@model MusteriApp.Data.Entities.Musteri

<h2>Müşteri Sil</h2>

<h3>Bu müşteriyi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>@Model.UNVAN</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Model.ID
        </dd>
        <dt class="col-sm-2">
            Ünvan
        </dt>
        <dd class="col-sm-10">
            @Model.UNVAN
        </dd>
    </dl>
</div>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Geri</a>
    </div>
</form>
